PORT = '10000'
MONGO_URL = 'Your_mongoDB_URL'
JWT_SECRET = "JWT_SECRET"
FRONTEND_DOMAIN = "FRONTEND_DOMAIN"
CLOUDINARY_CLOUD_NAME = "CLOUDINARY_CLOUD_NAME"
CLOUDINARY_API_KEY = "CLOUDINARY_API_KEY"
CLOUDINARY_API_SECRET = "CLOUDINARY_API_SECRET"
SMTP_PORT = "SMTP_PORT"
SMTP_HOST = "SMTP_HOST"
SMTP_USER = "SMTP_USER"
SMTP_PASSWORD = "SMTP_PASSWORD"
SMTP_FROM = "SMTP_FROM"
